* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}

.web-title {
  background-color: aqua;
  padding: 1rem;
  width: 100%;
  color: rgb(73, 14, 14);
  font-size: 300%;
  box-shadow: 0 -5px 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.t-center {
  text-align: center;
}

.container {
  margin-top: 100px;
  padding: 20px 40px;
}

.page-title {
  font-size: 150%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.page-content {
  padding-left: 15px;
}

ol > li::marker {
  font-weight: bold;
  font-size: 120%;
}

.session-list > li {
  margin-bottom: 20px;
}

.session-sub-list {
  padding-left: 15px;
}

.session-sub-list > li {
  margin-bottom: 15px;
}

.session-sub-content {
  padding-left: 15px;
}
.mark > li {
  margin-bottom: 12px;
}
.mark .mark-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.example {
  position: relative;
  margin: 10px 0 20px 10px;
  padding: 15px 0 15px 15px;
  border-left: 1px solid rgb(228, 228, 228);
  border-top: 1px solid rgb(228, 228, 228);
  border-top-left-radius: 4px;
  box-shadow: -10px 10px 20px 0 rgb(218, 218, 218);
  max-height: 150px;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.example span.viewmore {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: .4s;
  cursor: pointer;
  color: rgb(71, 71, 182);
  font-size: 25px;
  font-weight: bold;
}
.example span.viewmore:hover {
  transform: translateX(-50%) scale(1.2);
  color: rgb(37, 37, 134);
}

.example::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(235, 235, 235, .5), rgba(177, 177, 177, .5), rgba(177, 177, 177, .7));
}

.example.open {
  max-height: 10000px;
  transition: max-height 2s ease-in;
}

.example.open::before, .example.open span.viewmore {
  display: none;
}


.example-title {
  margin-left: -10px;
  font-size: 16px;
  font-weight: bold;
}

#btn_home {
  position: fixed;
  bottom: 40px;
  right: 50px;
  width: 50px;
  height: 50px;
}

#btn_home > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

#btn_home > img:hover {
  transform: scale(1.4);
}

.code-group {
  background-color: aliceblue;
  border: 1px solid rgb(248, 207, 207);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 25px;
  width: fit-content;
  white-space: pre-wrap;
}

.ml-4 {
  margin-left: 15px;
}

.ml-5 {
  margin-left: 20px;
}

.sub-title {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.small-title {
  margin: 10px;
}

.code-symbol {
  color: orange;
}

.code-tag-name {
  color: rgb(30, 30, 131);
}

.code-attr {
  color: blueviolet;
}

.code-quot {
  color: red;
}

.code-value-attr {
  color: rgb(158, 34, 96);
}

.code-comment {
  color: green;
}

.bold {
  font-weight: bold;
}

.result {
  border: 1px solid steelblue;
  border-radius: 10px;
  background-color: rgb(255, 230, 231);
  padding: 10px 15px;
}

.result-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
